/* line 11, ../sass/content.scss */
body.node-type-nossasp-organization h1.title,
body.node-type-nossasp-council h1.title {
  font-family: 'Abel', sans-serif;
  padding: 0.4em 0 0.4em 1.4em;
  position: relative;
}
/* line 15, ../sass/content.scss */
body.node-type-nossasp-organization h1.title:after,
body.node-type-nossasp-council h1.title:after {
  background-color: red;
  content: "";
  height: 12px;
  left: 0;
  margin: 0 15px;
  padding: 0 0;
  position: absolute;
  top: 23px;
  width: 12px;
}
/* line 27, ../sass/content.scss */
body.node-type-nossasp-organization.org-type-16 h1.title:after,
body.node-type-nossasp-council.org-type-16 h1.title:after {
  background-color: #eedc41;
}
/* line 29, ../sass/content.scss */
body.node-type-nossasp-organization.org-type-17 h1.title:after,
body.node-type-nossasp-council.org-type-17 h1.title:after {
  background-color: #2880af;
}
/* line 31, ../sass/content.scss */
body.node-type-nossasp-organization.org-type-18 h1.title:after,
body.node-type-nossasp-council.org-type-18 h1.title:after {
  background-color: #de0800;
}
/* line 33, ../sass/content.scss */
body.node-type-nossasp-organization.org-type-19 h1.title:after,
body.node-type-nossasp-council.org-type-19 h1.title:after {
  background-color: #bd4448;
}
/* line 35, ../sass/content.scss */
body.node-type-nossasp-organization.org-type-20 h1.title:after,
body.node-type-nossasp-council.org-type-20 h1.title:after {
  background-color: #90159f;
}
/* line 37, ../sass/content.scss */
body.node-type-nossasp-organization.org-type-21 h1.title:after,
body.node-type-nossasp-council.org-type-21 h1.title:after {
  background-color: #12b012;
}
/* line 39, ../sass/content.scss */
body.node-type-nossasp-organization.org-type-22 h1.title:after,
body.node-type-nossasp-council.org-type-22 h1.title:after {
  background-color: #fe900f;
}
/* line 42, ../sass/content.scss */
body.node-type-nossasp-organization .org-type,
body.node-type-nossasp-council .org-type {
  padding-left: 40px;
  color: red;
  font-size: 0.9em;
  margin-top: -1em;
}

/* line 50, ../sass/content.scss */
.fieldgroup {
  margin-bottom: 25px;
  padding: 0;
}

/* line 55, ../sass/content.scss */
.field .field-label, .field .field-label-inline, .field .field-label-inline-first {
  font-weight: normal;
  color: #8f8f8f;
}

/* line 60, ../sass/content.scss */
.field .field-items {
  color: #337180;
}

/* line 64, ../sass/content.scss */
.group-resumo .field-label {
  visibility: hidden;
  display: inline;
}

/* line 69, ../sass/content.scss */
.group-resumo .field-items {
  color: #4a4a4a;
  margin-top: -20px;
}

/* line 74, ../sass/content.scss */
.map-and-text {
  float: left;
  width: 60%;
}
/* line 77, ../sass/content.scss */
.map-and-text .content {
  padding: 1em;
}
/* line 79, ../sass/content.scss */
.map-and-text p {
  margin: 0 0 1em 0;
}

/* line 82, ../sass/content.scss */
.details {
  float: left;
  width: 40%;
}
/* line 85, ../sass/content.scss */
.details h3 {
  padding: 0;
  margin-bottom: 0.25em;
  color: #8F8F8F;
  font-size: 1.2em;
  font-weight: normal;
}
/* line 91, ../sass/content.scss */
.details h3 ~ h3 {
  margin-top: 4em;
}
/* line 93, ../sass/content.scss */
.details a {
  color: #376d8a;
  white-space: nowrap;
}
