/**Levar para css/fields.css**/
/* line 2, ../sass/content.scss */
.fieldgroup {
  margin-bottom: 25px;
  padding: 0;
}

/* line 7, ../sass/content.scss */
.field .field-label, .field .field-label-inline, .field .field-label-inline-first {
  font-weight: normal;
  color: #8f8f8f;
}

/* line 12, ../sass/content.scss */
.field .field-items {
  color: #337180;
}

/* line 16, ../sass/content.scss */
.group-resumo .field-label {
  visibility: hidden;
  display: inline;
}

/* line 21, ../sass/content.scss */
.group-resumo .field-items {
  color: #4a4a4a;
  margin-top: -20px;
}

/* line 26, ../sass/content.scss */
.map-and-text {
  float: left;
  width: 60%;
}
/* line 29, ../sass/content.scss */
.map-and-text .content {
  padding: 1em;
}
/* line 31, ../sass/content.scss */
.map-and-text p {
  margin: 0 0 1em 0;
}

/* line 34, ../sass/content.scss */
.details {
  float: left;
  width: 40%;
}
/* line 37, ../sass/content.scss */
.details h3 {
  padding: 0;
  margin-bottom: 0.25em;
  color: #8F8F8F;
  font-size: 1.2em;
  font-weight: normal;
}
/* line 43, ../sass/content.scss */
.details h3 ~ h3 {
  margin-top: 2em;
}
/* line 45, ../sass/content.scss */
.details a {
  color: #376d8a;
  white-space: nowrap;
}
