@charset "UTF-8";
/* line 3, ../sass/nossasp.scss */
#page-wrapper {
  min-width: 1200px;
  font-family: 'Arimo', sans-serif;
}

/* ----------- HEADER and LOGO ----------- */
/* line 8, ../sass/nossasp.scss */
#header {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #6ca5b6));
  background: -webkit-linear-gradient(left, #ffffff, #6ca5b6);
  background: -moz-linear-gradient(left, #ffffff, #6ca5b6);
  background: -o-linear-gradient(left, #ffffff, #6ca5b6);
  background: -ms-linear-gradient(left, #ffffff, #6ca5b6);
  background: linear-gradient(left, #ffffff, #6ca5b6);
  background-color: #6ca5b6;
  height: 86px;
}

/* line 14, ../sass/nossasp.scss */
#logo {
  display: block;
  width: 230px;
  padding: 5px 0 5px 6px;
}

/* line 20, ../sass/nossasp.scss */
.region-header {
  margin-left: 320px;
  clear: none;
}

/* ---------- HEADER: FORMS ---------- */
/* line 26, ../sass/nossasp.scss */
#block-views-e4d64b6a71c9049b9bdd1225e0da8e25 {
  margin: 0;
}

/* line 30, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 {
  display: block;
  position: relative;
}
/* line 34, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .views-exposed-form {
  height: 40px;
  padding: 23px 0;
}
/* line 38, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .views-exposed-widgets {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 43, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .views-exposed-widget {
  margin: 0;
  padding: 0;
  float: none;
}
/* line 48, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .search-switch, #views-exposed-form-nossasp-organizations-map-page-2 .vew-0 > label, #views-exposed-form-nossasp-organizations-map-page-2 .vew-1 > label {
  text-shadow: rgba(100, 100, 100, 0.6) 2px 2px 2px;
  cursor: pointer;
  display: block;
  width: 100px;
  height: 36px;
  position: absolute;
  top: 23px;
  left: 0;
  z-index: 102;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding: 3px 4px;
  font-family: 'Abel', sans-serif;
  background-color: #6190A7;
}
/* line 62, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .search-switch.active, #views-exposed-form-nossasp-organizations-map-page-2 .vew-0 > label.active, #views-exposed-form-nossasp-organizations-map-page-2 .vew-1 > label.active {
  background-color: #1e6283;
}
/* line 65, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .search-input, #views-exposed-form-nossasp-organizations-map-page-2 .vew-0 #edit-title, #views-exposed-form-nossasp-organizations-map-page-2 .vew-0 #edit-title-1, #views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #edit-circle-location-wrapper {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: none;
  margin: 0;
  padding: 1px 0;
  width: 180px;
  position: absolute;
  top: 23px;
  left: 210px;
  z-index: 101;
  background-color: white;
}
/* line 75, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .search-input.active, #views-exposed-form-nossasp-organizations-map-page-2 .vew-0 .active#edit-title, #views-exposed-form-nossasp-organizations-map-page-2 .vew-0 .active#edit-title-1, #views-exposed-form-nossasp-organizations-map-page-2 .vew-1 .active#edit-circle-location-wrapper {
  display: block;
}
/* line 80, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-0 > label {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* line 85, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-0 #edit-title {
  border: none;
  height: 40px;
  text-indent: 15px;
}
/* line 90, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-0 #edit-title-1 {
  border: none;
  height: 40px;
  text-indent: 15px;
}
/* line 98, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 > label {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  left: 108px;
}
/* line 104, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #edit-circle-location-wrapper {
  padding: 0;
  z-index: 101;
}
/* line 109, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #edit-circle-location {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  width: 180px;
  height: 40px;
  padding: 1px 0;
  border: none;
  background: white;
  text-indent: 15px;
}
/* line 119, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #edit-circle-location.throbbing {
  background: white url('../images/ajax.gif?1320173530') 90% center no-repeat;
}
/* line 124, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #autocomplete {
  border: none;
  min-width: 200%;
}
/* line 127, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #autocomplete li {
  text-indent: 0;
  overflow: hidden;
  padding: .25em;
}
/* line 131, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #autocomplete li:nth-of-type(even) {
  background-color: #ebf1f4;
}
/* line 133, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #autocomplete li.selected {
  background-color: #6190A7;
}
/* line 137, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 143, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #edit-submit-nossasp-organizations-map {
  text-shadow: rgba(100, 100, 100, 0.6) 2px 2px 2px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  width: 55px;
  height: 42px;
  margin: 0;
  border: none;
  position: absolute;
  top: 23px;
  left: 815px;
  font-family: 'Abel', sans-serif;
  background-color: #6190A7;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
/* line 161, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #edit-submit-nossasp-organizations-map:hover {
  background-color: #1E6283;
}
/* line 165, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-2 > label {
  display: none;
}
/* line 168, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao {
  position: absolute;
  top: 23px;
  left: 405px;
}
/* line 171, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_header {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: white url('../images/select-button.png?1320173530') right center no-repeat;
  height: 42px;
  width: 150px;
  padding-right: 40px;
  font-size: 14px;
  border: none;
  line-height: 42px;
  vertical-align: middle;
  text-indent: 1em;
  font-family: 'Abel', sans-serif;
  color: #666;
}
/* line 185, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 3px 2px #cccccc;
  -webkit-box-shadow: 0px 0px 3px 2px #cccccc;
  -o-box-shadow: 0px 0px 3px 2px #cccccc;
  box-shadow: 0px 0px 3px 2px #cccccc;
  border: none;
  padding: 0;
  width: 190px;
  top: 30px;
  background-color: white;
}
/* line 193, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li {
  border: none;
  padding: 0;
  background-color: transparent;
}
/* line 197, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a {
  display: block;
  padding: 0.5em 1em 0.5em 2em;
  width: auto;
  font-size: 12px;
  position: relative;
}
/* line 203, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a:hover {
  background-color: #ebf1f4;
}
/* line 205, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a:after {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  content: "";
  position: absolute;
  left: 8px;
  top: 10px;
  height: 10px;
  width: 10px;
  background-color: #ccc;
}
/* line 214, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a[rel="16"]:after {
  background-color: #eedc41;
}
/* line 215, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a[rel="17"]:after {
  background-color: #2880af;
}
/* line 216, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a[rel="18"]:after {
  background-color: #de0800;
}
/* line 217, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a[rel="19"]:after {
  background-color: #bd4448;
}
/* line 218, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a[rel="20"]:after {
  background-color: #90159f;
}
/* line 219, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a[rel="21"]:after {
  background-color: #12b012;
}
/* line 220, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a[rel="22"]:after {
  background-color: #fe900f;
}
/* line 221, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li:first-child a {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 224, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li:last-child a {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 229, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 {
  width: 190px;
  position: absolute;
  top: 23px;
  left: 610px;
  z-index: 101;
}
/* line 233, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 > label {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  display: block;
  background: white url('../images/select-button.png?1320173530') right center no-repeat;
  height: 42px;
  width: 150px;
  padding-right: 40px;
  border: none;
  font-size: 14px;
  line-height: 42px;
  vertical-align: middle;
  text-indent: 1em;
  font-family: 'Abel', sans-serif;
  color: #666;
}
/* line 248, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 3px 2px #cccccc;
  -webkit-box-shadow: 0px 0px 3px 2px #cccccc;
  -o-box-shadow: 0px 0px 3px 2px #cccccc;
  box-shadow: 0px 0px 3px 2px #cccccc;
  display: none;
  border: none;
  margin-top: 2px;
  padding: 0.25em 0;
  width: 100%;
  background: white;
}
/* line 258, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget .form-checkboxes {
  margin: 0;
}
/* line 260, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget .form-item {
  margin: 0;
  padding: 0.5em 1em 0.5em 2.5em;
  font-size: 12px;
}
/* line 264, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget .form-item:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 267, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget .form-item:last-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 270, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget .form-item:hover {
  background-color: #ebf1f4;
}
/* line 272, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label {
  display: block;
  padding-left: 1.5em;
  position: relative;
}
/* line 276, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label:after {
  background: url('../images/icones-neutros.png?1320173852') no-repeat 2px 0px;
  content: "";
  position: absolute;
  width: 32px;
  height: 29px;
  top: -4px;
  left: -29px;
}
/* line 284, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-1-1"]:after {
  background-position: 2px 0px;
}
/* line 285, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-2"]:after {
  background-position: 2px -30px;
}
/* line 286, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-3"]:after {
  background-position: 2px -60px;
}
/* line 287, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-4"]:after {
  background-position: 2px -90px;
}
/* line 288, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-5"]:after {
  background-position: 2px -120px;
}
/* line 289, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-6"]:after {
  background-position: 2px -150px;
}
/* line 290, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-7"]:after {
  background-position: 2px -330px;
}
/* line 291, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-8"]:after {
  background-position: 2px -360px;
}
/* line 292, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-9"]:after {
  background-position: 2px -390px;
}
/* line 293, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-10"]:after {
  background-position: 2px -420px;
}
/* line 294, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-11"]:after {
  background-position: 2px -570px;
}
/* line 295, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-12"]:after {
  background-position: 2px -450px;
}
/* line 296, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-13"]:after {
  background-position: 2px -480px;
}
/* line 297, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-14"]:after {
  background-position: 2px -510px;
}
/* line 298, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-15"]:after {
  background-position: 2px -540px;
}
/* line 299, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-25"]:after {
  background-position: 2px -300px;
}
/* line 300, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-26"]:after {
  background-position: 2px -600px;
}
/* line 301, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-27"]:after {
  background-position: 2px -270px;
}
/* line 302, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-28"]:after {
  background-position: 2px -240px;
}
/* line 303, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-29"]:after {
  background-position: 2px -180px;
}
/* line 304, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label[for="edit-tid-30"]:after {
  background-position: 2px -210px;
}
/* line 305, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget .form-checkbox {
  position: absolute;
  top: auto;
  left: 0px;
  margin: 2px 0;
}

/* line 312, ../sass/nossasp.scss */
.vew-0 fieldset {
  border: 0;
}

/* line 319, ../sass/nossasp.scss */
#header .vew-2 .form-checkboxes {
  background: white;
  width: 225px;
  padding: 22px 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

/* line 328, ../sass/nossasp.scss */
#main-wrapper #main #content {
  margin-top: 0;
}

/* ----------- SIDEBAR LEFT (SDBL) ----------- */
/* line 333, ../sass/nossasp.scss */
#page .region-sidebar-first {
  background: #fff;
  height: 100%;
  width: 320px;
  margin: 0;
}

/* line 340, ../sass/nossasp.scss */
#page .region-sidebar-first .section {
  width: 318px;
  margin: 0;
  padding: 0;
  border: none;
  background: #e6eef1;
}

/* ---------- SDBL: "COMO FUNCIONA" ---------- */
/* line 348, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-2 {
  background-color: #f0f9fb;
  height: 28px;
  padding: 10px 0 10px 15px;
  display: block;
  margin: 0;
}

/* line 356, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-2 h2.title {
  font-size: 14px;
  color: #2692cb;
  float: left;
  padding: 5px 0 0 0;
  font-family: 'Abel', sans-serif;
}

/* line 364, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-2 .content a {
  margin: 0;
  padding: 14px 0;
  float: right;
  padding: 5px 10px 0 0;
  font-size: 11px;
  color: #a1a1a1;
  font-weight: bold;
  text-decoration: none;
}

/* line 374, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-2 .content p {
  margin: 0;
  padding: 0;
}

/* ---------- SDBL: DOWNLOAD DO BANCO DE DADOS ---------- */
/* line 380, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-1 {
  /*    background-color: rgba(234,234,234,1);*/
  background: #f7f7f7;
  right: 0;
  width: 144px;
  height: 34px;
  position: absolute;
  display: block;
  text-align: center;
}

/* line 390, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-1 #texto_download {
  margin: 4px 5px 0 0;
  padding: 4px 36px 0 0;
  font-size: 10px;
  font-weight: bold;
}

/* line 397, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-1 #img_download {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 4px;
}

/* ---------- SDBL: NUM DE RESULTADOS ---------- */
/* line 406, ../sass/nossasp.scss */
#page .region-sidebar-first .view-header {
  margin-left: 15px;
  padding-left: 10px;
  background-color: #59a066;
  font-size: 16px;
  color: #2692cb;
  text-transform: uppercase;
  overflow: hidden;
  border-bottom: #e7ecef solid 1px;
  height: 56px;
}

/* line 420, ../sass/nossasp.scss */
#page .region-sidebar-first .view-header .counter,
#page .region-sidebar-first .view-header .download {
  float: left;
  margin: 0;
  background: #f7f7f7;
}

/* line 427, ../sass/nossasp.scss */
#page .region-sidebar-first .view-header .counter {
  padding: 10px 0;
  text-indent: 5px;
  font-family: 'Abel', sans-serif;
  line-height: 36px;
  width: 130px;
}

/* line 435, ../sass/nossasp.scss */
#page .region-sidebar-first .view-header .download {
  width: 162px;
  border-left: #e7ecef solid 1px;
  text-align: right;
}

/* line 441, ../sass/nossasp.scss */
#page .region-sidebar-first .view-header .download a {
  background: url("../images/nossasp_download_banco.png") no-repeat 90% 50%;
  padding: 10px 60px 10px 0;
  display: block;
  text-decoration: none;
  text-transform: none;
  color: #A1A1A1;
  font-size: 10px;
  font-weight: bold;
}

/* ---------- SDBL: LISTA DE ENTIDADES (Resultados)  ---------- */
/* line 452, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 {
  margin: 0;
}
/* line 454, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 .view-content {
  margin: 0 0 0 15px;
  padding: 0;
  background-color: white;
  overflow-y: auto;
  width: auto;
  min-height: 180px;
}
/* line 461, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 .item-list {
  height: 34px;
  background-color: #F7F7F7;
  margin: 0 0 0 15px;
  padding: 0;
}
/* line 467, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 .pager {
  padding: 8px;
  margin: 0;
}
/* line 470, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 .pager li {
  padding: 0;
  display: inline-block;
}
/* line 473, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 .pager li.pager-current {
  font-weight: bold;
}
/* line 475, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 .pager a {
  display: inline;
  padding: 0;
  text-decoration: none;
  color: black;
}

/* line 483, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row {
  padding: 6px 0 6px 15px;
  font-size: 12px;
}

/* line 488, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row-odd {
  background: white;
}

/* line 492, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row-even {
  /*    background: rgba(230,230,230,1);*/
  background: #f7f7f7;
}

/* line 497, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row .views-field-title * {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* line 503, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row .views-field-tid {
  color: #518099;
  text-overflow: clip;
}

/* line 508, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row .views-field-tid-1 {
  color: black;
}

/* ---------- SDBL: CADASTRE SUA ORGANIZAÇÃO ---------- */
/* line 514, ../sass/nossasp.scss */
.region-sidebar-first #block-nossasp_contexts-0 {
  margin: 0 0 0 15px;
  text-align: center;
  background: white;
  height: 76px;
}
/* line 519, ../sass/nossasp.scss */
.region-sidebar-first #block-nossasp_contexts-0 .content {
  padding: 10px 0;
}
/* line 521, ../sass/nossasp.scss */
.region-sidebar-first #block-nossasp_contexts-0 .content p {
  margin: 0;
  padding: 0;
}
/* line 523, ../sass/nossasp.scss */
.region-sidebar-first #block-nossasp_contexts-0 .content a {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.6);
  -webkit-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.6);
  -o-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.6);
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.6);
  display: block;
  letter-spacing: -1px;
  margin: 0 1.5em;
  padding: .5em;
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background: #de0800;
}

/* ----------- Barra de Navegação ----------- */
/* line 541, ../sass/nossasp.scss */
#main #navigation {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 200;
  padding: 0;
  margin: 0;
  width: auto;
  height: 55px;
  line-height: 55px;
}
/* line 551, ../sass/nossasp.scss */
#main #navigation ul {
  -moz-box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.6);
  -o-box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.6);
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.6);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  display: inline-block;
  vertical-align: middle;
  line-height: 25px;
  margin-right: 1em;
}
/* line 558, ../sass/nossasp.scss */
#main #navigation ul li {
  margin: 0;
  padding: 0;
  background: #c8c8c8;
}
/* line 562, ../sass/nossasp.scss */
#main #navigation ul li.first {
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -o-border-top-left-radius: 7px;
  -ms-border-top-left-radius: 7px;
  -khtml-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -o-border-bottom-left-radius: 7px;
  -ms-border-bottom-left-radius: 7px;
  -khtml-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
/* line 565, ../sass/nossasp.scss */
#main #navigation ul li.last {
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -o-border-top-right-radius: 7px;
  -ms-border-top-right-radius: 7px;
  -khtml-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -o-border-bottom-right-radius: 7px;
  -ms-border-bottom-right-radius: 7px;
  -khtml-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* line 568, ../sass/nossasp.scss */
#main #navigation ul a {
  margin: 0 2px 0 0;
  background: white;
  padding: 6px 10px 6px 10px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}
/* line 577, ../sass/nossasp.scss */
#main #navigation .rede-logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/nossasp_logo.png?1320173530');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 70px;
  height: 41px;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}

/* line 586, ../sass/nossasp.scss */
#main #navigation ul li.first a {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomleft: 7px;
}

/* line 595, ../sass/nossasp.scss */
#main #navigation ul li.last a {
  border: 0;
  margin: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
}

/* convencendo o mapa a aparecer de um jeito razoavel  */
/* line 607, ../sass/nossasp.scss */
body.front #openlayers-map-auto-id-0 .olMapViewport {
  min-height: 640px;
  height: 640px;
}

/* line 611, ../sass/nossasp.scss */
body.front #openlayers-map-auto-id-0.full-sized .olMapViewport {
  min-height: 0;
}

/* popup dos mapas */
/* line 616, ../sass/nossasp.scss */
.openlayers-popup a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  color: #2692CB;
}
/* line 621, ../sass/nossasp.scss */
.openlayers-popup a:hover {
  text-shadow: #eaeaea 1px 1px;
}

/* novo bloco de sobre */
/* line 626, ../sass/nossasp.scss */
#block-boxes-nossasp_contexts_about {
  margin: 0 0 0 15px;
  background-color: white;
}
/* line 629, ../sass/nossasp.scss */
#block-boxes-nossasp_contexts_about .title {
  height: 36px;
  padding: 10px 15px;
  background-color: #F7F7F7;
  font-size: 16px;
  color: #2692CB;
  text-transform: uppercase;
  overflow: hidden;
  font-family: 'Abel',sans-serif;
  line-height: 36px;
  font-weight: normal;
}
/* line 640, ../sass/nossasp.scss */
#block-boxes-nossasp_contexts_about .content {
  overflow-y: auto;
}
/* line 642, ../sass/nossasp.scss */
#block-boxes-nossasp_contexts_about p {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  padding: 0.5em 15px;
  margin: 0;
}

/* Temando as forms */
/* line 655, ../sass/nossasp.scss */
body.page-organizations-data #content-area,
#user-pass,
#user-register,
#user-login,
#contact-mail-page {
  *zoom: 1;
  -moz-box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  -webkit-box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  -o-box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  padding: 1.5em 3em;
  background: #f7f7f7;
  min-width: 275px;
  width: 50%;
  margin: 1.5em auto;
  color: #757d82;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.2-p290@compassdev/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.page-organizations-data #content-area:after,
#user-pass:after,
#user-register:after,
#user-login:after,
#contact-mail-page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 664, ../sass/nossasp.scss */
body.page-organizations-data #content-area h1,
#user-pass h1,
#user-register h1,
#user-login h1,
#contact-mail-page h1 {
  font-family: 'Abel', sans-serif;
}
/* line 666, ../sass/nossasp.scss */
body.page-organizations-data #content-area #edit-submit,
#user-pass #edit-submit,
#user-register #edit-submit,
#user-login #edit-submit,
#contact-mail-page #edit-submit {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  -webkit-box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  -o-box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  padding: 5px 10px;
  background: #00aeef;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
  float: right;
}
/* line 676, ../sass/nossasp.scss */
body.page-organizations-data #content-area .form-text,
#user-pass .form-text,
#user-register .form-text,
#user-login .form-text,
#contact-mail-page .form-text {
  width: 230px;
}

/* corrigindo a posição da toolbar no stack */
/* line 681, ../sass/nossasp.scss */
div#toolbar-toolbar {
  z-index: 110;
}

/* bordeando a sidebar */
/* line 686, ../sass/nossasp.scss */
#main-wrapper {
  border-top: 2px solid #d5d5d5;
}

/* line 689, ../sass/nossasp.scss */
#page .region-sidebar-first .section {
  border-right: 2px solid #d5d5d5 !important;
}

/* Cadastro e node/add */
/* line 695, ../sass/nossasp.scss */
.cadastro h1 {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  padding: 0.5em 0.5em 0.25em 0.5em;
}
/* line 699, ../sass/nossasp.scss */
.cadastro h1 .and-title {
  color: #d90e0c;
}
/* line 701, ../sass/nossasp.scss */
.cadastro h2 {
  color: #1e6283;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
  margin-bottom: 0;
}
/* line 706, ../sass/nossasp.scss */
.cadastro h2 + p {
  font-size: 12px;
  margin-top: 0;
}
/* line 709, ../sass/nossasp.scss */
.cadastro .form-region-main {
  float: none;
  width: auto;
}
/* line 712, ../sass/nossasp.scss */
.cadastro .tip {
  padding: 0 1em;
  font-size: 12px;
  color: #1e6283;
  font-style: italic;
}
/* line 717, ../sass/nossasp.scss */
.cadastro #content-area {
  overflow: hidden;
  padding: 0 1em;
}
/* line 720, ../sass/nossasp.scss */
.cadastro fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arimo, sans-serif;
}
/* line 727, ../sass/nossasp.scss */
.cadastro .form-item {
  display: inline-block;
}
/* line 729, ../sass/nossasp.scss */
.cadastro .form-item label {
  color: #1e6283;
  font-weight: normal;
}
/* line 730, ../sass/nossasp.scss */
.cadastro .form-text {
  border: 1px solid #91cae6;
  line-height: 1.6em;
}
/* line 733, ../sass/nossasp.scss */
.cadastro .form-select {
  border: 1px solid #91cae6;
  line-height: 1.6em;
  background-color: white;
}
/* line 738, ../sass/nossasp.scss */
.cadastro .form-textarea {
  border: 1px solid #91cae6;
}
/* line 741, ../sass/nossasp.scss */
.cadastro #edit-submit {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  -webkit-box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  -o-box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  padding: 5px 10px;
  background: #497F2D;
  width: 120px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
  float: right;
  margin: -3.5em 2em 0 0;
}
/* line 758, ../sass/nossasp.scss */
.cadastro #edit-profile-realname,
.cadastro #edit-mail,
.cadastro #edit-title,
.cadastro #edit-field-street-0-value,
.cadastro #edit-field-email-0-email {
  width: 420px;
}
/* line 765, ../sass/nossasp.scss */
.cadastro #edit-name-1,
.cadastro #edit-field-sigla-0-value,
.cadastro #edit-profile-phone,
.cadastro #edit-field-complemento-0-value,
.cadastro #edit-field-phone-text-0-value {
  width: 240px;
}
/* line 768, ../sass/nossasp.scss */
.cadastro #navigation {
  display: none;
}

/* line 772, ../sass/nossasp.scss */
.page-obrigado h1 {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  padding: 0.5em 0.5em 0.25em 0.5em;
}
/* line 776, ../sass/nossasp.scss */
.page-obrigado h1 .and-title {
  color: #d90e0c;
}
/* line 778, ../sass/nossasp.scss */
.page-obrigado .message {
  text-align: center;
  padding: 1em;
  margin: 6em 3em 0 3em;
  border: #E6EEF1 solid 10px;
}
/* line 783, ../sass/nossasp.scss */
.page-obrigado .message h2 {
  font-size: 2em;
  margin-bottom: 1.5em;
  font-family: 'Abel', sans-serif;
  color: #59a166;
  text-transform: uppercase;
}
/* line 789, ../sass/nossasp.scss */
.page-obrigado .message p {
  font-size: 1.4em;
  color: #6190A7;
}
/* line 792, ../sass/nossasp.scss */
.page-obrigado .message p.thank-you {
  color: #D90E0C;
}
