@charset "UTF-8";
/* line 3, ../sass/nossasp.scss */
#page-wrapper {
  font-family: 'Arimo', sans-serif;
}

/* ----------- HEADER and LOGO ----------- */
/* line 7, ../sass/nossasp.scss */
#header {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #6ca5b6));
  background: -webkit-linear-gradient(left, #ffffff, #6ca5b6);
  background: -moz-linear-gradient(left, #ffffff, #6ca5b6);
  background: -o-linear-gradient(left, #ffffff, #6ca5b6);
  background: -ms-linear-gradient(left, #ffffff, #6ca5b6);
  background: linear-gradient(left, #ffffff, #6ca5b6);
  background-color: #6ca5b6;
}

/* line 12, ../sass/nossasp.scss */
#logo {
  display: block;
  width: 320px;
  margin-right: -320px;
  padding: 5px 0 5px 6px;
}

/* line 19, ../sass/nossasp.scss */
.region-header {
  margin-left: 320px;
  clear: none;
}

/* ---------- HEADER: FORMS ---------- */
/* line 25, ../sass/nossasp.scss */
#block-views-e4d64b6a71c9049b9bdd1225e0da8e25 {
  margin: 0;
}

/* line 29, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 {
  display: block;
  position: relative;
}
/* line 33, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .views-exposed-form {
  height: 40px;
  padding: 23px 0;
}
/* line 37, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .views-exposed-widgets {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 42, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .views-exposed-widget {
  margin: 0;
  padding: 0;
  float: none;
}
/* line 47, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .search-switch, #views-exposed-form-nossasp-organizations-map-page-2 .vew-0 > label, #views-exposed-form-nossasp-organizations-map-page-2 .vew-1 > label {
  text-shadow: rgba(100, 100, 100, 0.6) 2px 2px 2px;
  cursor: pointer;
  display: block;
  width: 100px;
  height: 36px;
  position: absolute;
  top: 23px;
  left: 0;
  z-index: 102;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding: 3px 4px;
  font-family: 'Abel', sans-serif;
  background-color: #6190A7;
}
/* line 61, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .search-switch.active, #views-exposed-form-nossasp-organizations-map-page-2 .vew-0 > label.active, #views-exposed-form-nossasp-organizations-map-page-2 .vew-1 > label.active {
  background-color: #1e6283;
}
/* line 64, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .search-input, #views-exposed-form-nossasp-organizations-map-page-2 .vew-0 #edit-title, #views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #edit-circle-location-wrapper {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: none;
  margin: 0;
  padding: 1px 0;
  width: 180px;
  position: absolute;
  top: 23px;
  left: 210px;
  z-index: 101;
  background-color: white;
}
/* line 74, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .search-input.active, #views-exposed-form-nossasp-organizations-map-page-2 .vew-0 .active#edit-title, #views-exposed-form-nossasp-organizations-map-page-2 .vew-1 .active#edit-circle-location-wrapper {
  display: block;
}
/* line 79, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-0 > label {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* line 84, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-0 #edit-title {
  border: none;
  height: 40px;
  text-indent: 15px;
}
/* line 92, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 > label {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 97, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #edit-circle-location-wrapper {
  padding: 0;
  z-index: 101;
}
/* line 102, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #edit-circle-location {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  width: 180px;
  height: 40px;
  padding: 1px 0;
  border: none;
  background: white;
  text-indent: 15px;
}
/* line 112, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #edit-circle-location.throbbing {
  background: white url('../images/ajax.gif?1319605132') 90% center no-repeat;
}
/* line 117, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #autocomplete {
  border: none;
  min-width: 200%;
}
/* line 120, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #autocomplete li {
  text-indent: 0;
  overflow: hidden;
  padding: .25em;
}
/* line 124, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #autocomplete li:nth-of-type(even) {
  background-color: #ebf1f4;
}
/* line 126, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 #autocomplete li.selected {
  background-color: #6190A7;
}
/* line 130, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-1 fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 136, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #edit-submit-nossasp-organizations-map {
  text-shadow: rgba(100, 100, 100, 0.6) 2px 2px 2px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  width: 72px;
  height: 42px;
  margin: 0;
  border: none;
  position: absolute;
  top: 23px;
  left: 878px;
  font-family: 'Abel', sans-serif;
  background-color: #6190A7;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
/* line 154, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #edit-submit-nossasp-organizations-map:hover {
  background-color: #1E6283;
}
/* line 158, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao {
  position: absolute;
  top: 23px;
  left: 408px;
}
/* line 161, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_header {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: white url('../images/select-button.png?1319645071') right center no-repeat;
  height: 42px;
  width: 180px;
  padding-right: 40px;
  font-size: 14px;
  border: none;
  line-height: 42px;
  vertical-align: middle;
  text-indent: 1em;
  font-family: 'Abel', sans-serif;
  color: #666;
}
/* line 175, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list {
  border: none;
  padding: 0;
  width: 220px;
}
/* line 179, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li {
  border: none;
  padding: 0 1em;
}
/* line 182, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li:hover {
  background-color: #6190a7;
}
/* line 184, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a {
  display: block;
  padding: 0.25em 0;
  font-size: 12px;
}
/* line 188, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 #area_atuacao .jquery_dropdown_list li a:hover {
  background-color: #6190a7;
}
/* line 191, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 {
  width: 220px;
  position: absolute;
  top: 23px;
  left: 644px;
  z-index: 101;
}
/* line 195, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 > label {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  display: block;
  background: white url('../images/select-button.png?1319645071') right center no-repeat;
  height: 42px;
  width: 180px;
  padding-right: 40px;
  border: none;
  font-size: 14px;
  line-height: 42px;
  vertical-align: middle;
  text-indent: 1em;
  font-family: 'Abel', sans-serif;
  color: #666;
}
/* line 210, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget {
  display: none;
  border: none;
  margin-top: -3px;
  padding: 0;
  width: 220px;
  background: white;
}
/* line 218, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget .form-checkboxes {
  margin: 0;
}
/* line 220, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget .form-item {
  margin: 0;
  padding: 0.25em 1em;
  font-size: 12px;
}
/* line 224, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget label {
  display: block;
  padding-left: 1.5em;
  position: relative;
}
/* line 228, ../sass/nossasp.scss */
#views-exposed-form-nossasp-organizations-map-page-2 .vew-3 .views-widget .form-checkbox {
  position: absolute;
  top: auto;
  left: 0;
  margin: 2px 0;
}

/* 
    CAMPOS DE BUSCA POR NOME OU ENDEREÇO 
    */
/** LABELS **/
/*** FORMATO E COR  ***/
/*** POSICIONAMENTO ***/
/* line 244, ../sass/nossasp.scss */
#header .vew-1 label.label-header {
  left: 108px;
}

/* INPUTS */
/* line 250, ../sass/nossasp.scss */
.vew-0 div.views-widget, .vew-1 div.views-widget {
  left: 217px;
  top: -7px;
}

/* line 255, ../sass/nossasp.scss */
.vew-0 fieldset {
  border: 0;
}

/* Aqui começam os dois últimos filtros do HEADER  */
/* TIPO DE ORGANIZAÇÃO (vew-3) */
/* ÁREA DE ATUAÇÃO (vew-2) */
/* line 279, ../sass/nossasp.scss */
#header .vew-2 label.label-header {
  display: block;
  width: 225px;
  padding: 12px 0 0 10px;
  font-size: 14px;
  height: 28px;
  vertical-align: middle;
  background: url(../images/arrow.png) no-repeat top right white;
  color: #c8c8c8;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  font-family: 'Abel', sans-serif;
}

/* line 302, ../sass/nossasp.scss */
#header .vew-2 .form-checkboxes {
  background: white;
  width: 225px;
  padding: 22px 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

/* Hiding Admin Links */
/* line 312, ../sass/nossasp.scss */
.views-admin-links {
  font-size: 10px;
  visibility: hidden;
}

/* line 317, ../sass/nossasp.scss */
.views-admin-links:hover {
  visibility: visible;
}

/* line 321, ../sass/nossasp.scss */
#main-wrapper #main #content {
  margin-top: 0;
}

/* ----------- SIDEBAR LEFT (SDBL) ----------- */
/* line 326, ../sass/nossasp.scss */
#page .region-sidebar-first {
  background: #fff;
  height: 100%;
  width: 320px;
  margin: 0;
}

/* line 333, ../sass/nossasp.scss */
#page .region-sidebar-first .section {
  width: 320px;
  margin: 0;
  padding: 0;
  border: none;
  background: url(../images/nossasp_sidebar_main_bkgrnd.png) repeat-y top left;
}

/* ---------- SDBL: "COMO FUNCIONA" ---------- */
/* line 341, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-2 {
  background-color: #f0f9fb;
  width: 305px;
  height: 28px;
  padding: 10px 0 10px 15px;
  display: block;
  margin: 0;
}

/* line 350, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-2 h2.title {
  font-size: 14px;
  color: #2692cb;
  float: left;
  padding: 5px 0 0 0;
  font-family: 'Abel', sans-serif;
}

/* line 358, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-2 .content a {
  margin: 0;
  padding: 14px 0;
  float: right;
  padding: 5px 10px 0 0;
  font-size: 11px;
  color: #a1a1a1;
  font-weight: bold;
  text-decoration: none;
}

/* line 368, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-2 .content p {
  margin: 0;
  padding: 0;
}

/* ---------- SDBL: DOWNLOAD DO BANCO DE DADOS ---------- */
/* line 374, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-1 {
  /*    background-color: rgba(234,234,234,1);*/
  background: #f7f7f7;
  right: 0;
  width: 144px;
  height: 34px;
  position: absolute;
  display: block;
  text-align: center;
}

/* line 384, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-1 #texto_download {
  margin: 4px 5px 0 0;
  padding: 4px 36px 0 0;
  font-size: 10px;
  font-weight: bold;
}

/* line 391, ../sass/nossasp.scss */
#page .region-sidebar-first #block-block-1 #img_download {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 4px;
}

/* ---------- SDBL: NUM DE RESULTADOS ---------- */
/* line 400, ../sass/nossasp.scss */
#page .region-sidebar-first .view-header {
  margin-left: 15px;
  padding-left: 10px;
  background-color: #59a066;
  font-size: 16px;
  color: #2692cb;
  text-transform: uppercase;
  overflow: hidden;
  border-bottom: #e7ecef solid 1px;
}

/* line 413, ../sass/nossasp.scss */
#page .region-sidebar-first .view-header .counter,
#page .region-sidebar-first .view-header .download {
  float: left;
  margin: 0;
  background: #f7f7f7;
}

/* line 419, ../sass/nossasp.scss */
#page .region-sidebar-first .view-header .counter {
  padding: 10px 0;
  text-indent: 5px;
  font-family: 'Abel', sans-serif;
  line-height: 36px;
  width: 130px;
}

/* line 427, ../sass/nossasp.scss */
#page .region-sidebar-first .view-header .download {
  width: 164px;
  border-left: #e7ecef solid 1px;
  text-align: right;
}

/* line 433, ../sass/nossasp.scss */
#page .region-sidebar-first .view-header .download a {
  background: url("../images/nossasp_download_banco.png") no-repeat 90% 50%;
  padding: 10px 60px 10px 0;
  display: block;
  text-decoration: none;
  text-transform: none;
  color: #A1A1A1;
  font-size: 10px;
  font-weight: bold;
}

/* ---------- SDBL: LISTA DE ENTIDADES (Resultados)  ---------- */
/* line 444, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 {
  margin: 0;
}
/* line 446, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 .content, #block-views-ac1d059bc0aeabb5015c2d28f61ba744 .views_view {
  height: 100%;
}
/* line 447, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 .view-content {
  overflow-y: auto;
  width: auto;
  min-height: 180px;
}
/* line 451, ../sass/nossasp.scss */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 .item-list {
  margin: 0 15px;
  padding: 15px 0;
}

/* line 456, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content {
  padding-left: 15px;
}

/* line 460, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row {
  padding: 12px 0 12px 15px;
  font-size: 12px;
}

/* line 465, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row-odd {
  background: white;
}

/* line 469, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row-even {
  /*    background: rgba(230,230,230,1);*/
  background: #f7f7f7;
}

/* line 474, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row .views-field-title * {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* line 480, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row .views-field-tid {
  color: #518099;
  text-overflow: clip;
}

/* line 485, ../sass/nossasp.scss */
#page .region-sidebar-first .view-content .views-row .views-field-tid-1 {
  color: black;
}

/* ---------- SDBL: CADASTRE SUA ORGANIZAÇÃO ---------- */
/* line 491, ../sass/nossasp.scss */
.region-sidebar-first #block-block-3 {
  margin: 0 0 0 15px;
  text-align: center;
  background: #f7f7f7;
}
/* line 495, ../sass/nossasp.scss */
.region-sidebar-first #block-block-3 .content {
  margin: 20px 0;
  padding: 20px 0;
}
/* line 498, ../sass/nossasp.scss */
.region-sidebar-first #block-block-3 .content p {
  margin: 0;
  padding: 0;
}
/* line 500, ../sass/nossasp.scss */
.region-sidebar-first #block-block-3 .content a {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.6);
  -webkit-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.6);
  -o-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.6);
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.6);
  display: block;
  margin: 0 1.5em;
  padding: .5em;
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background: #de0800;
}

/* ----------- Barra de Navegação ----------- */
/* line 517, ../sass/nossasp.scss */
#main #navigation {
  position: absolute;
  bottom: -3px;
  right: 0;
  margin: 0 99px 20px 0;
  padding: 0;
  width: auto;
  height: auto;
}

/* line 527, ../sass/nossasp.scss */
#main #navigation ul {
  margin: 0 10px 4px 0;
  padding: 0;
  -moz-box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.6);
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.6);
}

/* line 535, ../sass/nossasp.scss */
#main #navigation ul li {
  margin: 0;
  padding: 0;
  height: auto;
  background: #c8c8c8;
}

/* line 543, ../sass/nossasp.scss */
#main #navigation ul li.first {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomleft: 7px;
}

/* line 552, ../sass/nossasp.scss */
#main #navigation ul li.last {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
}

/* line 561, ../sass/nossasp.scss */
#main #navigation ul li a {
  margin: 0 2px 0 0;
  background: white;
  padding: 6px 10px 6px 10px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}

/* line 571, ../sass/nossasp.scss */
#main #navigation ul li.first a {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomleft: 7px;
}

/* line 580, ../sass/nossasp.scss */
#main #navigation ul li.last a {
  border: 0;
  margin: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
}

/* ----------- Logo Rede Nossa SP ----------- */
/* line 592, ../sass/nossasp.scss */
#main #content .region-content-top {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* line 599, ../sass/nossasp.scss */
#main #content #block-block-4 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0 10px 10px 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
}

/* line 615, ../sass/nossasp.scss */
#main #content #block-block-4 .content,
#main #content #block-block-5 .content,
#main #content #block-block-4 .content p,
#main #content #block-block-5 .content p,
#main #content #block-block-5 .content p a,
#main #content #block-block-5 .content p a img {
  margin: 0;
  padding: 0;
}

/* ----------- Redes Sociais Nossa SP ----------- */
/* line 621, ../sass/nossasp.scss */
#main #content #block-block-5 {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0 380px 15px 0;
  width: auto;
  height: auto;
}

/* line 632, ../sass/nossasp.scss */
#main #content #block-block-5 .content p {
  position: relative;
}

/* line 637, ../sass/nossasp.scss */
#twitter_img,
#facebook_img {
  position: absolute;
  bottom: 0;
}

/* line 641, ../sass/nossasp.scss */
#facebook_img {
  right: 0;
}

/* line 645, ../sass/nossasp.scss */
#twitter_img {
  right: 35px;
}

/* ----------- MAPA ----------- */
/* line 650, ../sass/nossasp.scss */
#main #content #content-area {
  margin: 0 0 0 320px;
  z-index: 0;
}

/* ---------- LOGIN ----------- */
/* line 656, ../sass/nossasp.scss */
.breadcrumb {
  display: none;
}

/* line 660, ../sass/nossasp.scss */
#main #content #content-area {
  margin: 0;
  padding: 0;
}

/* line 665, ../sass/nossasp.scss */
#main #content #content-area form {
  padding: 3em;
  background: #f7f7f7;
  box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  width: 250px;
  color: #757d82;
}

/* line 673, ../sass/nossasp.scss */
#main #content #content-area form div input {
  width: 230px;
}

/* line 680, ../sass/nossasp.scss */
#main #content #content-area form #edit-submit {
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  background: #00aeef;
  color: white;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.6);
  font-family: 'Abel', sans-serif;
}

/* convencendo o mapa a aparecer de um jeito razoavel  */
/* line 695, ../sass/nossasp.scss */
body.front #openlayers-map-auto-id-0 .olMapViewport {
  min-height: 640px;
  height: 640px;
}

/* line 699, ../sass/nossasp.scss */
body.front #openlayers-map-auto-id-0.full-sized .olMapViewport {
  min-height: 0;
}

/* line 703, ../sass/nossasp.scss */
#block-block-6 {
  margin-left: 15px;
}
/* line 705, ../sass/nossasp.scss */
#block-block-6 .title {
  padding: 10px;
  background-color: #F7F7F7;
  font-size: 16px;
  color: #2692CB;
  text-transform: uppercase;
  overflow: hidden;
  font-family: 'Abel',sans-serif;
  line-height: 36px;
  font-weight: normal;
}
/* line 715, ../sass/nossasp.scss */
#block-block-6 p {
  font-family: 'Arimo',sans-serif;
  line-height: 1.6em;
  padding: 0 1em;
}
