$conselho: #eedc41;
$ongs: #2880af;
$bairro: #de0800;
$sindicatos: #bd4448;
$empresarios: #90159f;
$sociais: #12b012;
$virtuais: #fe900f;

body.node-type-nossasp-organization,
body.node-type-nossasp-council { 

  #content-area { 
    border-top: 2px solid #d5d5d5;
  }

  .back {
    float: right;
    padding: 1em;
    a {
      color: black;
      font-family: Abel,sans-serif;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.5em;
      text-decoration: none;
      text-transform: uppercase; } }

  h1.title { 
    font-family: 'Abel', sans-serif;
    padding: 0.4em 0 0.4em 1.4em;
    position: relative;
    margin-right: 8em;
    &:after { 
      background-color: red;
      content: "";
      height: 12px;
      left: 0;
      margin: 0 15px;
      padding: 0 0;
      position: absolute;
      top: 23px;
      width: 12px;
    }
  }
  &.org-type-16 h1.title:after { 
    background-color: $conselho; } 
  &.org-type-17 h1.title:after { 
    background-color: $ongs; } 
  &.org-type-18 h1.title:after { 
    background-color: $bairro; } 
  &.org-type-19 h1.title:after { 
    background-color: $sindicatos; } 
  &.org-type-20 h1.title:after { 
    background-color: $empresarios; } 
  &.org-type-21 h1.title:after { 
    background-color: $sociais; } 
  &.org-type-22 h1.title:after { 
    background-color: $virtuais; } 

  .org-type { 
    padding-left: 40px;
    color: red;
    font-size: 0.9em;
    margin-top: -1em;
    margin-bottom: 1em;
  }
}

.fieldgroup {
	margin-bottom: 25px;
	padding: 0;
}

.field .field-label, .field .field-label-inline, .field .field-label-inline-first {
	font-weight: normal;
	color: #8f8f8f;
}

.field .field-items {
	color: #337180;
}

.group-resumo .field-label {
	visibility: hidden;
	display: inline;
}

.group-resumo .field-items {
	color: #4a4a4a;
	margin-top: -20px;
}

.map-and-text {
  border-right: 2px solid #d5d5d5;
  float: left;
  width: 60%;
  margin-right: -2px;
  .content { 
    padding: 1em; }
  p { margin: 0 0 1em 0; }
}

.details { 
  float: left;
  width: 40%;
  > div { 
    padding: 0 1em;
    ~ div h3 { 
      padding-top: 4em; } }
  h3 {
    padding: 0;
    margin-bottom: 0.25em;
    color: #8F8F8F;
    font-size: 1.2em;
    font-weight: normal; }
  a { 
    color: #376d8a;
    white-space: nowrap; }
}
