@import "compass";

#page-wrapper { 
  min-width: 1200px;
  font-family: 'Arimo', sans-serif; }

/* ----------- HEADER and LOGO ----------- */
#header {
  @include background(linear-gradient(left, white, #6ca5b6));
  background-color: #6ca5b6;
  height: 86px;
}

#logo {
  display: block;
  width: 230px;
  padding: 5px 0 5px 6px;
}

.region-header {
  margin-left: 320px;
  clear: none;
}

/* ---------- HEADER: FORMS ---------- */
#block-views-e4d64b6a71c9049b9bdd1225e0da8e25 {
  margin: 0;
}

#views-exposed-form-nossasp-organizations-map-page-2 {
  display: block;
  position: relative;

  .views-exposed-form {
    height: 40px;
    padding: 23px 0; }

  .views-exposed-widgets {
    margin: 0;
    padding: 0;
    border: none; }

  .views-exposed-widget {
    margin: 0;
    padding: 0;
    float: none; } 

  .search-switch { 
    @include text-shadow(rgba(100,100,100,0.6) 2px 2px 2px);
    cursor: pointer;
    display: block;
    width: 100px;
    height: 36px;
    position: absolute; 
    top: 23px; left: 0; z-index: 102; // because opnelayers is z-indexed 100
    text-align: center;
    vertical-align: middle;
    color: white;
    padding: 3px 4px;
    font-family: 'Abel', sans-serif;
    background-color: #6190A7;
    &.active {
      background-color: #1e6283; } }

  .search-input {
    @include border-top-right-radius(6px);
    @include border-bottom-right-radius(6px);
    display: none;
    margin: 0;
    padding: 1px 0;
    width: 180px;
    position: absolute;
    top: 23px; left: 210px; z-index: 101; // because opnelayers is z-indexed 100
    background-color: white;
    &.active { 
      display: block; } }

  // widget da busca por nome
  .vew-0 {
    > label { 
      @extend .search-switch;
      @include border-top-left-radius(6px);
      @include border-bottom-left-radius(6px); }
    
    #edit-title { 
      @extend .search-input;
      border: none;
      height: 40px;
      text-indent: 15px; } 
    #edit-title-1 {
      @extend .search-input;
      border: none;
      height: 40px;
      text-indent: 15px; } }

  // widget da busca por endereço
  .vew-1 {
    > label { 
      @extend .search-switch;
      @include border-top-right-radius(6px);
      @include border-bottom-right-radius(6px);
      left: 108px; }

    #edit-circle-location-wrapper { 
      @extend .search-input;
      padding: 0;
      z-index: 101; }

    #edit-circle-location { 
      @include border-top-right-radius(6px);
      @include border-bottom-right-radius(6px);
      display: block;
      width: 180px;
      height: 40px;
      padding: 1px 0;
      border: none;
      background: white;
      text-indent: 15px;
      &.throbbing {
       background: white image-url('ajax.gif')  90% center  no-repeat; 
      }
    }

    #autocomplete { 
      border: none;
      min-width: 200%;
      li {
        text-indent: 0; 
        overflow: hidden;
        padding: .25em;
        &:nth-of-type(even) {
          background-color: lighten(#6190A7, 42%); }
        &.selected { 
          background-color: #6190A7; } }
    }

    fieldset { 
      margin: 0;
      padding: 0;
      border: none; }
    }

  #edit-submit-nossasp-organizations-map {
    @include text-shadow(rgba(100,100,100,0.6) 2px 2px 2px);
    @include border-radius(6px);
    width: 55px;
    height: 42px;
    margin: 0;
    border: none;
    position: absolute;
    top: 23px; 
    left: 815px;
    font-family: 'Abel', sans-serif;
    background-color: #6190A7;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    &:hover { 
      background-color: #1E6283; }
  }

  .vew-2 > label { 
    display: none; }

  #area_atuacao { 
    position: absolute;
    top: 23px; left: 405px;
    .jquery_dropdown_header {
      @include border-radius(6px);
      background: white image-url('select-button.png') right center no-repeat;
      height: 42px;
      width: 150px;
      padding-right: 40px;
      font-size: 14px;
      border: none;
      line-height: 42px;
      vertical-align: middle;
      text-indent: 1em;
      font-family: 'Abel', sans-serif;
      color: #666;
    }
    .jquery_dropdown_list {
      @include border-radius;
      @include box-shadow(0px 0px 3px 2px #ccc);
      border: none; 
      padding: 0;
      width: 190px;
      top: 30px;
      background-color: white;
      li {
        border: none;
        padding: 0;
        background-color: transparent;
        a { 
          display: block;
          padding: 0.5em 1em 0.5em 2em;
          width: auto;
          font-size: 12px;
          position: relative;
          &:hover { 
            background-color: lighten(#6190A7, 42%); }
          &:after { 
            @include border-radius(3px);
            content: "";
            position: absolute;
            left: 8px;
            top: 10px;
            height: 10px;
            width: 10px;
            background-color: #ccc; }
          &[rel="16"]:after { background-color: #eedc41; }
          &[rel="17"]:after { background-color: #2880af; }
          &[rel="18"]:after { background-color: #de0800; }
          &[rel="19"]:after { background-color: #bd4448; }
          &[rel="20"]:after { background-color: #90159f; }
          &[rel="21"]:after { background-color: #12b012; }
          &[rel="22"]:after { background-color: #fe900f; } }
        &:first-child a { 
          @include border-top-left-radius;
          @include border-top-right-radius; }
        &:last-child a { 
          @include border-bottom-left-radius;
          @include border-bottom-right-radius; }
    } } }
 
  .vew-3 {
      width: 190px;
      position: absolute;
      top: 23px; left: 610px; z-index: 101;
    > label { 
      @include border-radius(6px);
      display: block;
      background: white image-url('select-button.png') right center no-repeat;
      height: 42px;
      width: 150px;
      padding-right: 40px;
      border: none;
      font-size: 14px;
      line-height: 42px;
      vertical-align: middle;
      text-indent: 1em;
      font-family: 'Abel', sans-serif;
      color: #666;
      }
    .views-widget {
      @include border-radius;
      @include box-shadow(0px 0px 3px 2px #ccc);
      display: none;
      border: none; 
      margin-top: 2px;
      padding: 0.25em 0;
      width: 100%;
      background: white;
    
      .form-checkboxes { 
        margin: 0; }
      .form-item { 
        margin: 0;
        padding: 0.5em 1em 0.5em 2.5em;
        font-size: 12px;
        &:first-child {
          @include border-top-left-radius;
          @include border-top-right-radius; }
        &:last-child {
          @include border-bottom-left-radius;
          @include border-bottom-right-radius; }
        &:hover {
          background-color: lighten(#6190A7, 42%); } }
      label { 
        display: block;
        padding-left: 1.5em;
        position: relative;
        &:after { 
          background: image-url('icones-neutros.png') no-repeat 2px 0px; 
          content: "";
          position: absolute;
          width: 32px;
          height: 29px; 
          top: -4px;
          left: -29px; }
        &[for="edit-tid-1-1"]:after { background-position: 2px 0px; }
        &[for="edit-tid-2"]:after { background-position: 2px -30px; }
        &[for="edit-tid-3"]:after { background-position: 2px -60px; }
        &[for="edit-tid-4"]:after { background-position: 2px -90px; }
        &[for="edit-tid-5"]:after { background-position: 2px -120px; }
        &[for="edit-tid-6"]:after { background-position: 2px -150px; }
        &[for="edit-tid-7"]:after { background-position: 2px -330px; }
        &[for="edit-tid-8"]:after { background-position: 2px -360px; }
        &[for="edit-tid-9"]:after { background-position: 2px -390px; }
        &[for="edit-tid-10"]:after { background-position: 2px -420px; }
        &[for="edit-tid-11"]:after { background-position: 2px -570px; }
        &[for="edit-tid-12"]:after { background-position: 2px -450px; }
        &[for="edit-tid-13"]:after { background-position: 2px -480px; }
        &[for="edit-tid-14"]:after { background-position: 2px -510px; }
        &[for="edit-tid-15"]:after { background-position: 2px -540px; }
        &[for="edit-tid-25"]:after { background-position: 2px -300px; }
        &[for="edit-tid-26"]:after { background-position: 2px -600px; }
        &[for="edit-tid-27"]:after { background-position: 2px -270px; }
        &[for="edit-tid-28"]:after { background-position: 2px -240px; }
        &[for="edit-tid-29"]:after { background-position: 2px -180px; }
        &[for="edit-tid-30"]:after { background-position: 2px -210px; } }
      .form-checkbox { 
        position: absolute;
        top: auto; left: 0px;
        margin: 2px 0; } }
  }
}

.vew-0 fieldset {
    border: 0;
}

#header #area_atuacao {
}

#header .vew-2 .form-checkboxes {
    background: white;
    width: 225px;
    padding: 22px 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#main-wrapper #main #content {
    margin-top: 0;
}

/* ----------- SIDEBAR LEFT (SDBL) ----------- */
#page .region-sidebar-first {
    background: #fff;
    height: 100%;
    width: 320px;
    margin: 0;
}

#page .region-sidebar-first .section {
    width: 318px;
    margin: 0;
    padding: 0;
    border: none;
    background: #e6eef1; }

/* ---------- SDBL: "COMO FUNCIONA" ---------- */
#page .region-sidebar-first #block-block-2 {
    background-color: rgba(240,249,251,1);
    height: 28px;
    padding: 10px 0 10px 15px;
    display: block;
    margin: 0;
}

#page .region-sidebar-first #block-block-2 h2.title {
    font-size: 14px;
    color: rgba(38,146,203,1);
    float: left;
    padding: 5px 0 0 0;
    font-family: 'Abel', sans-serif;
}

#page .region-sidebar-first #block-block-2 .content a {
    margin:0;
    padding: 14px 0;
    float: right;
    padding: 5px 10px 0 0;
    font-size: 11px;
    color: rgba(161,161,161,1);
    font-weight: bold;
    text-decoration: none;
}
#page .region-sidebar-first #block-block-2 .content p {
    margin: 0;
    padding: 0;
}

/* ---------- SDBL: DOWNLOAD DO BANCO DE DADOS ---------- */
#page .region-sidebar-first #block-block-1 {
/*    background-color: rgba(234,234,234,1);*/
    background: rgba(247,247,247,1);
    right: 0;
    width: 144px;
    height: 34px;
    position: absolute;
    display: block;
    text-align: center;
}
#page .region-sidebar-first #block-block-1 #texto_download {
    margin: 4px 5px 0 0;
    padding: 4px 36px 0 0;
    font-size: 10px;
    font-weight: bold;
}

#page .region-sidebar-first #block-block-1 #img_download {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 4px;
}

/* ---------- SDBL: NUM DE RESULTADOS ---------- */
#page .region-sidebar-first .view-header {
  margin-left: 15px;
  padding-left: 10px;
  background-color: rgba(89,160,102,1);
  font-size: 16px;
  color: rgba(38,146,203,1);
  text-transform: uppercase;
  overflow: hidden;
  border-bottom: #e7ecef solid 1px;
  height: 56px;
}


#page .region-sidebar-first .view-header .counter,
#page .region-sidebar-first .view-header .download {
    float: left;
    margin: 0;
    background: rgba(247,247,247,1);
    
}

#page .region-sidebar-first .view-header .counter {
  padding: 10px 0;
  text-indent: 5px;
  font-family: 'Abel', sans-serif;
  line-height: 36px;
  width: 130px;
}

#page .region-sidebar-first .view-header .download {
  width: 162px;
  border-left: #e7ecef solid 1px;
  text-align: right;
}

#page .region-sidebar-first .view-header .download a {
  background: url('../images/nossasp_download_banco.png') no-repeat 90% 50%;
  padding: 10px 60px 10px 0;
  display: block;
  text-decoration: none;
  text-transform: none;
  color: #A1A1A1;
  font-size: 10px;
  font-weight: bold;
}
/* ---------- SDBL: LISTA DE ENTIDADES (Resultados)  ---------- */
#block-views-ac1d059bc0aeabb5015c2d28f61ba744 { 
  margin: 0;
  .view-content { 
    margin: 0 0 0 15px;
    padding: 0;
    background-color: white;
    overflow-y: auto;
    width: auto;
    min-height: 180px; }
  .item-list { 
    height: 34px;
    background-color: #F7F7F7;
    margin: 0 0 0 15px;
    padding: 0;
  }
  .views-field-php { 
    a {
      text-decoration: none;
      color: black;
      font-weight: bold; } }
  .pager { 
    padding: 8px;
    margin: 0;
    li { 
      padding: 0;
      display: inline-block;
      &.pager-current {
        font-weight: bold; } }
    a { 
      display: inline;
      padding: 0;
      text-decoration: none; 
      color: black; }
  }
}

#page .region-sidebar-first .view-content .views-row {
    padding: 6px 0 6px 15px;
    font-size: 12px;
}

#page .region-sidebar-first .view-content .views-row-odd {
    background: rgba(255,255,255,1);
}

#page .region-sidebar-first .view-content .views-row-even {
/*    background: rgba(230,230,230,1);*/
    background: rgba(247,247,247,1);
}

#page .region-sidebar-first .view-content .views-row .views-field-title * {
    font-weight: bold;
    color: rgba(0,0,0,1);
    text-decoration: none;
}

#page .region-sidebar-first .view-content .views-row .views-field-tid {
    color: rgba(81,128,153,1);
    text-overflow: clip;
}

#page .region-sidebar-first .view-content .views-row .views-field-tid-1 {
    color: rgba(0,0,0,1);
}

/* ---------- SDBL: CADASTRE SUA ORGANIZAÇÃO ---------- */
.region-sidebar-first {
  #block-nossasp_contexts-0 {
    margin: 0 0 0 15px;
    text-align: center;
    background: white;
    height: 76px;
  .content { 
    padding: 10px 0; }
  .content p { 
    margin: 0; padding: 0; }
  .content a {
    @include border-radius(8px);
    @include box-shadow(3px 3px 5px rgba(50,50,50,0.6));
    display: block;
    letter-spacing: -1px;
    margin: 0 1.5em;
    padding: .5em;
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background: rgba(222,8,0,1);
  } }
}

/* ----------- Barra de Navegação ----------- */
#main #navigation {
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 200;
    padding: 0;
    margin: 0;
    width: auto;
    height: 55px;
    line-height: 55px;
    ul { 
      @include box-shadow(5px 5px 5px rgba(100,100,100,0.6));
      @include border-radius(7px);
      display: inline-block;
      vertical-align: middle;
      line-height: 25px;
      margin-right: 1em;
      li { 
        margin: 0;
        padding: 0;
        background: rgba(200,200,200,1); 
        &.first { 
          @include border-top-left-radius(7px);
          @include border-bottom-left-radius(7px); }
        &.last { 
          @include border-top-right-radius(7px);
          @include border-bottom-right-radius(7px); } }
        a {
          margin: 0 2px 0 0;
          background: rgba(255,255,255,1);
          padding: 6px 10px 6px 10px;
          display: block;
          text-decoration: none;
          font-size: 16px;
          font-family: 'Abel', sans-serif; }
    }
    .rede-logo { 
      @include replace-text-with-dimensions('nossasp_logo.png');
      display: inline-block;
      line-height: 40px;
      vertical-align: middle;
    }
  } 


#main #navigation ul li.first a {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
}

#main #navigation ul li.last a {
    border: 0;
    margin: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
}

/* convencendo o mapa a aparecer de um jeito razoavel  */
body.front #openlayers-map-auto-id-0 .olMapViewport { 
  min-height: 640px;
  height: 640px; }

body.front #openlayers-map-auto-id-0.full-sized .olMapViewport {
  min-height: 0; }

/* popup dos mapas */
.openlayers-popup {
  a { 
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    color: #2692CB; 
    &:hover { 
      text-shadow: #eaeaea 1px 1px; } }
}

/* novo bloco de sobre */
#block-boxes-nossasp_contexts_about {
  margin: 0 0 0 15px;
  background-color: white;
  cursor: pointer;
  .title { 
    height: 36px;
    padding: 10px 15px;
    background-color: #F7F7F7;
    font-size: 16px;
    color: #2692CB;
    text-transform: uppercase;
    overflow: hidden;
    font-family: 'Abel',sans-serif;
    line-height: 36px;
    font-weight: normal; }
  .content { 
    overflow-y: auto; }
  p { 
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    padding: 0.5em 15px;
    margin: 0; }
}

/* Temando as forms */
body.page-organizations-data #content-area,
#user-pass,
#user-register,
#user-login,
#contact-mail-page { 
  @include pie-clearfix;
  @include box-shadow(4px 4px 1px rgba(100,100,100,0.6));
  padding: 1.5em 3em;
  background: rgba(247,247,247,1);
  min-width: 275px;
  width: 50%;
  margin: 1.5em auto;
  color: rgba(117,125,130,1);
  h1 {
    font-family: 'Abel', sans-serif; }
  #edit-submit {
    @include border-radius(3px);
    @include box-shadow(4px 4px 1px rgba(100,100,100,0.6));
    padding: 5px 10px;
    background: rgba(0,174,239,1);
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    float: right; }
  .form-text { 
    width: 230px; }
}

/* corrigindo a posição da toolbar no stack */
div#toolbar-toolbar { 
  z-index: 110;
}

/* bordeando a sidebar */
#main-wrapper {
  border-top: 2px solid #d5d5d5;
}
#page .region-sidebar-first .section {
  border-right: 2px solid #d5d5d5 !important;
}

/* Cadastro e node/add */
.cadastro { 
  h1 { 
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    padding: 0.5em 0.5em 0.25em 0.5em; 
    .and-title { 
      color: #d90e0c; } }
  h2 { 
    color: #1e6283;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    margin-bottom: 0;
  & + p { 
    font-size: 12px;
    margin-top: 0; } }
  .form-region-main { 
    float: none;
    width: auto; }
  .tip { 
    padding: 0 1em;
    font-size: 12px;
    color: #1e6283;
    font-style: italic; }
  #content-area { 
    overflow: hidden;
    padding: 0 1em; }
  fieldset { 
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arimo, sans-serif;
  }
  .form-item { 
    display: inline-block;
    label { color: #1e6283; font-weight: normal; } }
  .form-text { 
    border: 1px solid lighten(#1e6283, 42%);
    line-height: 1.6em; }
  .form-select { 
    border: 1px solid lighten(#1e6283, 42%);
    line-height: 1.6em;
    background-color: white;
  }
  .form-textarea { 
    border: 1px solid lighten(#1e6283, 42%);
  }
  #edit-submit { 
    @include border-radius(3px);
    @include box-shadow(4px 4px 1px rgba(100,100,100,0.6));
    padding: 5px 10px;
    background: #497F2D;
    width: 120px;
    text-align: center;
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    float: right;
    margin: -3.5em 2em 0 0; }
    #edit-profile-realname,
    #edit-mail,
    #edit-title,
    #edit-field-street-0-value,
    #edit-field-email-0-email { 
      width: 420px;
    }
    #edit-name-1,
    #edit-field-sigla-0-value,
    #edit-profile-phone,
    #edit-field-complemento-0-value,
    #edit-field-phone-text-0-value { 
      width: 240px;
    }
  #navigation { 
    display: none; }
}
.page-obrigado {
  h1 { 
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    padding: 0.5em 0.5em 0.25em 0.5em; 
    .and-title { 
      color: #d90e0c; } }
  .message {
    text-align: center;
    padding: 1em;
    margin: 6em 3em 0 3em;
    border: #E6EEF1 solid 10px;
    h2 { 
      font-size: 2em;
      margin-bottom: 1.5em;
      font-family: 'Abel', sans-serif;
      color: #59a166;
      text-transform: uppercase; }
    p { 
      font-size: 1.4em;
      color: #6190A7;
      &.thank-you { 
        color: #D90E0C; } }
  }
}

